@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli');

body {
    margin: 0 auto;
    background-color: #c9c9c9;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}
p {
font-family: 'Muli', sans-serif;
font-size: 48px;
}